body {
    font-family: "Nunito", sans-serif;
    padding: 2rem;
    text-align: center;
}
input {
    padding: 10px;
}
.quiz {
    margin-top: 2rem;
}
.jp {
    font-size: 2rem;
    font-weight: bold;
}
.correct {
    color: green;
}
.wrong {
    color: red;
}
