body {
    font-family: "Nunito", sans-serif;
    padding: 2rem;
    text-align: center;
}
input {
    padding: 10px;
}
.quiz {
    margin-top: 2rem;
}
.jp {
    font-size: 2rem;
    font-weight: bold;
}
.correct {
    color: green;
}
.wrong {
    color: red;
}
summary {
    font-size: 1.5rem;
    font-weight: bold;
}
table {
    border-collapse: collapse;
    margin-top: 1rem;
    margin: auto;
    /*width: 100%;*/
}
th,
td {
    padding: 0.5rem 1rem;
}
th,
tr:nth-child(odd) {
    background: #f4f4f4;
}
.cheatsheet {
    font-size: 150%;
}
